* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

a,
ul {
  text-decoration: none;
  list-style: none;
}

.container {
  width: 1400px;
  height: auto;
  border: 1px solid purple;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: auto;
  background-image: url("../image/svg/background.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu ul {
  display: flex;
}

.header-menu__span {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #505f98;
  margin-right: 60px;
}
.cancel-margin {
  margin: 0;
}

.header-menu img {
  height: auto;
  width: auto;
}

.header-button__span {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.8rem;
  background-color: #111b47;
  padding: 5px 45px;
  text-transform: capitalize;
}

.header-information {
  display: flex;
  margin-top: 200px;
}

.header-information-info h1 {
  font-weight: 500;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1px;
  color: #091133;
  text-transform: capitalize;
  width: 593px;
  min-width: auto;
}

.header-information-info p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #505f98;
  width: 593px;
  min-width: auto;
  margin: 20px 0 69px 0;
}

.header-information-button {
  display: flex;
  text-transform: capitalize;
}

.header-information-button__span {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: white;
  background-color: #091133;
  padding: 5px 35px;
  margin-right: 30px;
}

.header-information-button .button-reverse {
  color: #091133;
  background-color: white;
  margin: 0;
  border: 2px solid #091133;
}


.header-information img{
    width: auto;
    height: 700px;
    position: relative;
    left: 367px;
    bottom: 150px; 
} 

.hero-div{
    display: flex;
    margin-top: 58px;
    flex-wrap: wrap;
}

.hero-data{
    width: 49%;
}

.hero-data h2{
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.8rem;
    color: #091133;
}

.hero-data p{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #6f7cb2;
    width: 540px;
    margin-top: 16px;
}

.hero-cards{
    display: flex;
    margin-top: 80px;
}

.hero-card img{
    height: auto;
    width: auto;
}

.hero-card h4{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #091133;
    margin: 4px 0;
}

.hero-card p{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #5d6970;
    width: 255px;
}

.hero .container figure{
    width: 49%;
}